
<div class="container-fluid">
  <h1>Create New Creatures</h1>

  <%= bootstrap_form_for @creature do |c| %>
    <div>
      <%= c.text_field :name %>
    </div>

    <div>
      <%= c.text_area :description %>
    </div>

    <%= c.submit %>
  <% end %>

</div>
