<section id="content" class="container-fluid">
  <h1>Welcome to Creature Central</h1>

  <div class="container-fluid">
    <%= image_tag("creatures.jpg", :alt => "turtle", :id => "home-image") %>
  </div>
</section>